.spacex-widget {
  .--mm-widget-front{
    padding: 0.5rem;
    // .launches-list {
    //
    // }
   .launch {
      margin: 0.8rem 0 0;
      border-radius: 0.5rem;
      overflow: hidden;
      padding: 0.8rem;
      background-color: rgba(white, 0.1);
    }
  }
  .metadata {
    display: flex;
    //justify-content: space-between;
  }

  .name {
    display: block;
    font-size: 2.6rem;
    font-weight: 500;
  }
  .date,
  .site
  {
    color: rgba(white, 0.6);
    font-size: 1.5rem;
  }
  .date{
    margin-right: 0.5rem;
    &:after{
      //content: ' - ';
    }
  }
}
