// this file includes basic CSS configurations of the application

*, *:after, *:before {
  user-select: none;
  box-sizing: border-box;
	padding: 0;
	margin: 0;
	//transition: all $base-transition-speed $base-transition-function;
	position: relative;
}


html {
  font-size: 62.5%;
}

body{
	font-size: 1.6rem;
	margin: 0;
	padding:0;
	@include setBaseFont();
}
